<div class="row">
  <div class="col-md-12">
    <h3>Add new Servers or blueprints!</h3>
    <hr />
    <label for="serverName">Server Name</label>
    <input [(ngModel)]="newServerName" class="form-control" id="serverName" type="text">
    <label for="serverContent">Server Content</label>
    <input [(ngModel)]="newServerContent" class="form-control" id="serverContent" type="text">
    <br>
    <button
      (click)="onAddServer()"
      class="btn btn-primary">Add Server
    </button>
    <button
      (click)="onAddBlueprint()"
      class="btn btn-primary">Add Server Blueprint
    </button>
  </div>
</div>
