/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

$elegant-color: #222222;
$elegant-color-dark: #181818;

body {
  color: #EEEEEE;
  background-color: $elegant-color;
}

.btn {
  margin-right: 5px;
}

.card {
  margin-top: 30px;
}

.card-header {
  color: $elegant-color;
}
